<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../index.html'); %>
</head>
<body class="container">



<main>
  <div class="box">
    <h1>What is JavaScript?</h1>
    <p>JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification. JavaScript is high-level, often just-in-time compiled, and multi-paradigm. It has curly-bracket syntax, dynamic typing, prototype-based object-orientation, and first-class functions.</p>
  </div>
</main>



</body>
</html>